.caja{
    width: 100px;
    height: 100px;
    background-color: blue;
    /* transition-property: background-color,border-radius;
    transition-duration: 2500ms;*/
    /* transition:background-color-border-radius,transform,opacity 2500;*/
    transition:all 2500ms;
    display: inline-block;
}
.caja:hover{
    background-color: orange;
    border-radius: 50%;
}
.caja:active{
    transform: scale(.9);
    opacity: .3;
}