.imgProducto{
    height: 200px;
    width:200px;

    
}

.producto {
    text-align: center;
  background-color: rgb(247, 167, 62);
  margin: 20px;
border-color: black;


}
.resultado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
    flex-wrap: wrap;
}


